@model CorallJewelry.Models.FrontModel.BaseFrontend
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ювелирная мастерская Оренбург | CorallJewelry</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/fontawesome/css/font-awesome.css">
    <!-- CHAT -->
    <link href="~/chat/css/clientchat.css" rel="stylesheet">

    <link rel="stylesheet" href="~/chatSR/styleChat.css" />

    <link rel="icon" href="~/favicon.ico">
    <script src="~/js/main.js"></script>
    <link rel="stylesheet" href="~/css/style.css">

    <!-- ENDCHAT -->
</head>
<body style="overflow-x: hidden; scroll-behavior: smooth;">
    <div class="wrapper-slider" id="main2">
        <div class="item-door m-door" id="right"></div>
        <div class="item-door m-door" id="left"></div>
        <div id="preloader">
            <div id="loader"></div>
        </div>
    </div>
    <section class="" id="priceOff">
        <div class="m-parent-head">
            <div tabindex="0" class="row w-100 ml-0 shadow1dp m-headbutton" style="background-image: url(@Url.Content("~/images/header-back.png")); height: 80px;">
                <div class="m-burger">
                    <span class="m-burger-line "></span>
                    <span class="m-burger-line "></span>
                    <span class="m-burger-line "></span>
                </div>
                <div class="col-xl m-item-menu-head">
                    <div class="row align-items-center justify-content-center mt-4 font-weight-bold">
                        <div class="col text-center ml-4">
                            <a style="text-decoration: none; color: brown;" href="~/Home/PriceList"><h4>Цены</h4></a>
                        </div>
                        <div class="col text-center ml-4">
                            <a style="text-decoration: none; color: brown;" href="~/Home/Index#aboutService"><h4>Услуги</h4></a>
                        </div>
                        <div class="col text-center ml-4">
                            <a style="text-decoration: none; color: brown;" href="~/Home/Catalogs"><h4>Каталоги</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl m-item-menu-headimg">
                    <div class="row justify-content-center" style="margin-top: -1px;">
                        <a href="~/Home/Index"><img src="~/images/vimpel-header.png"></a>
                    </div>
                </div>
                <div class="col-xl m-item-menu-head">
                    <div class="row align-items-center justify-content-center mt-4 font-weight-bold" style="color: brown;">
                        <div class="col text-center">
                            <a style="text-decoration: none; color: brown;" href="~/Home/Products"><h4>Наши работы</h4></a>
                        </div>
                        <div class="col text-center">
                            <a style="text-decoration: none; color: brown;" href="~/Home/Contact"><h4>Контакты</h4></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl" style="font-size: 20px; margin-top: 30px; margin-left: 10px;">
                <div class="row justify-content-center">
                    <span><i class="fa fa-envelope"></i></span>
                    <span class="ml-4">@Model.Contacts.Email</span>
                </div>
                <div class="row justify-content-center mt-3">
                    <!--                <span><i class="fa fa-clock-o"></i></span>-->
                    <span>С 10:00 до 19:00 без обеда</span>
                </div>
                <div class="row justify-content-center mt-3">
                    <!--                <span><i class="fa fa-clock-o"></i></span>-->
                    <span>Суббота с 11:00 до 16:00</span>
                </div>
            </div>
            <div class="col-xl" style="font-size: 20px; margin-top: 30px; margin-left: 10px;">
                <div class="row justify-content-center">
                    <span><i class="fa fa-phone"></i></span>
                    <span class="ml-4">@Model.Contacts.Phone</span>
                </div>
                <div class="row justify-content-center mt-3">
                    <a class="btn btn-outline-danger" href="~/Home/Index#aboutWork" style="border-radius: 0; text-decoration: none; ">Как сделать заказ?</a>
                </div>
            </div>
        </div>
    </section>

    @RenderBody()
    <section class="" id="footer" style="background-image: url('@Url.Content("~/images/header-back.png")');">
        <div class="row justify-content-center align-items-center mt-5 mb-5" style="padding-top: 30px;">
            <img src="~/images/header-logo.png" width="100" height="100" />
            <h4 class="ml-3" style="color: brown;">Corall Jewelry</h4>
        </div>

        <div class="bord-line"></div>
        <div class="row justify-content-around">
            <a href="~/Home/PriceList" style="text-decoration: none; color: brown;"><h4>Цены</h4></a>
            <a href="~/Home/Index#aboutService" style="text-decoration: none; color: brown;"><h4>Услуги</h4></a>
            @*<a style="text-decoration: none; color: brown;"><h4>Каталоги</h4></a>*@
            <a href="~/Home/Products" style="text-decoration: none; color: brown;"><h4>Наши работы</h4></a>
            <a href="~/Home/Contact" style="text-decoration: none; color: brown;"><h4>Контакты</h4></a>
        </div>
        <div class="bord-line"></div>
        <div class="row mb-3">
            <div class="col-xl-6 pl-5">
                <div class="row ml-5 pt-5">
                    <i class="fa fa-building"></i>
                    <a style="margin-left: 10px;"> Город: @Model.Contacts.AddressTown</a>
                </div>
                <div class="row ml-5 mt-2">
                    <i class="fa fa-street-view"></i>
                    <a style="margin-left: 10px;"> Улица: @Model.Contacts.AddressStreet</a>
                </div>
                <div class="row ml-5 mt-2">
                    <i class="fa fa-clock-o"></i>
                    <a style="margin-left: 10px;">с 10:00 до 19:00 без обеда</a>
                </div>
                <div class="row ml-5 mt-2">
                    <i class="fa fa-clock-o"></i>
                    <a style="margin-left: 10px;"> Суббота с 11:00 до 16:00</a>
                </div>
                <div class="row ml-5 mt-2">
                    <i class="fa fa-clock-o"></i>
                    <a style="margin-left: 10px;"> Воскресенье выходной.</a>
                </div>
                <div class="row ml-5 mt-2">
                    <i class="fa fa-envelope-open"></i>
                    <a style="margin-left: 10px;">  @Model.Contacts.Email</a>
                </div>
                <div class="row ml-5 mt-2">
                    <i class="fa fa-phone"></i>
                    <a style="margin-left: 10px;"> @Model.Contacts.Phone</a>
                </div>
            </div>
            <div class="col-xl-3 mt-5 m-minifooter">
                <a href="~/Home/Contact">Задайте нам вопрос</a><br>
                <a href="~/Home/Index#aboutWork">Как сделать заказ?</a><br>
            </div>
            <div class="col-xl-3 mt-5">
                <div class="row justify-content-around">
                    <a href="@Model.Contacts.VK" style="color: #c33"><i class="fa fa-vk fa-2x"></i></a>
                    <a href="@Model.Contacts.OK" style="color: #c33"><i class="fa fa-odnoklassniki fa-2x"></i></a>
                    <a href="@Model.Contacts.Inst" style="color: #c33"><i class="fa fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </div>
        <div class="bord-line"></div>
        <div class="row justify-content-center align-items-center text-center mt-5 pb-5">
            Обращаем Ваше внимание на то, что информация на сайте несет исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации
        </div>
        <div class="row justify-content-center align-items-center text-center mb-3">
            Все права защищены &nbsp<i class="fa fa-copyright"></i>&nbsp Создано в &nbsp <a href="https://afcstudio.ru"> AFCStudio</a>
        </div>
        <div class="row justify-content-center align-items-center mt-5 ">
            <img src="~/images/reviews-bg2.png" />
        </div>
    </section>

    <!--CHAT-->
    @*<div id="chat-icon" onclick="chat();" title="Чат с оператором" class="position-fixed chat-wrap-min"></div>
        <div id="chat-wrap" class="position-fixed chat-wrap-max chat-hidden" style="border-radius: 5px; box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20); ">
            <div class="row chat-shadow-4dp">
                <div class="col-2">
                    <div class="row justify-content-center align-content-lg-center">
                        <div title="Мы на связи" class="shadow-6dp" style="background-color: lawngreen; width: 18px; height: 18px; margin-top: 4px; border-radius: 50%; border: 1px solid #bdbdbd; cursor: pointer;"></div>
                    </div>
                </div>
                <div class="col-8 text-center">
                    <span>Оператор онлайн</span>
                </div>
                <div class="col-2 text-center" onclick="chat();">
                    <div title="Свернуть чат" class="chat-blur text-center row justify-content-center align-content-lg-center" style="cursor: pointer; margin: 0 auto;">
                        <label class="m-1" style="font-size: 12px;"><b>X</b></label>
                    </div>
                </div>
            </div>
            <div id="chat-list" class="m-1" style="height: 400px; padding: 5px; overflow: auto;">*@
    <!--<div class="adminchat-msg-admin">Здравствуйте, чем я могу помочь вам?</div>-->
    @*</div>
            <div id="chat-area" class="row m-1 mb-0">
                <div style="width: 79%; margin-right: 1%;">
                    <textarea id="chat-message" class="w-100 shadow-4dp" placeholder="Напишите нам тут" rows="3" style="padding: 1px; resize: none; font-size: 13px;"></textarea>
                </div>
                <div style="width: 20%; height: 61px;">
                    <a><img title="Отправить" src="~/chat/files/plane.png" class=" p-0 h-100 chat-shadow-4dp" onclick="SendMessage();" style="height: calc(1em * 1.5 * 3); border-radius: 50%; cursor: pointer;"></a>
                </div>
            </div>
        </div>*@
    <!--ENDCHAT-->
    <!--PLUGIN CHAT-->
    <div class="head pulse m-chat" onclick="closeChat()" id="head"><div><img src="~/resources/message.png" width="30" height="30"> </div></div>
    <div class="chat" id="mainChat" style="height:0px;bottom: 5px; overflow: hidden;">
        <div style="display: none" id="bufferMess"></div>
        <div id="bodychat" style="width: 100%;"></div>
    </div>
    <div class="chat2" id="inmessage" style="height: 0px; display: none;">
        <input type="text" name="inputmessage" class="inputmessage" id="inputMessage">
        <a name="send" class="sendmessage" onclick="Send()"><img src="~/resources/plane.png" width="50" height="50" id="sendBtn" class="sends"></a>
    </div>
    <!--PLUGIN CHAT-->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(62766310, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/62766310" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://use.fontawesome.com/ab77088c83.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/main.js"></script>

    <script src="~/chat/js/jquerry.cookie.js"></script>
    @*<script src="~/chat/js/main.js"></script>*@
    <script src="~/chatSR/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();
        hubConnection.on("Send", function (array_message) {
            let array_message2 = JSON.parse(array_message);
            console.log(array_message2);
            if (array_message2.Item1.Login == null) {
                var message = '<div class="mine messages"><div class="message last">' + array_message2.Item2 + '</div></div>';
                $('#bodychat').append(message);
                $('#bodychat').animate({ scrollTop: $('#bodychat').prop('scrollHeight') }, 500);

            } else {
                var message2 = '<div class="yours messages"><div class="message last">' + array_message2.Item2 + '</div></div>';
                $('#bodychat').append(message2);
                $('#bodychat').animate({ scrollTop: $('#bodychat').prop('scrollHeight') }, 500);
            }
        });
        function Send() {
            let message = document.getElementById("inputMessage").value;
            if (message != "") {
                document.getElementById("inputMessage").value = "";
                hubConnection.invoke("Send", message, "", "", "");
            }
        }
        $(document).keydown(function (e) {
            if (e.keyCode === 13) {
                Send();
            }
        });
        hubConnection.start();
    </script>
    <script src="~/chatSR/scriptChat.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
