@model CorallJewelry.Models.FrontModel.ProductsModel
<head>
    <script src="//code.jivo.ru/widget/vAnyCvQtOG" async></script>
</head>

<section class="mt-5">
    <div class="container-fluid ">
        <div class="row align-items-center mb-5 justify-content-center text-center">
            <h2>Наши работы</h2>
        </div>

        <div class="row justify-content-center text-center">
            <div class="col-xl">
                <h4 class="" style="font-size: 20px;">
                    В разделе представлены все наши работы разделенные на теги слева. <br><br> Данный раздел <strong><i> постоянно обновляется</i></strong>, всегда новые и интересные работы!
                </h4>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <img src="../images/reviews-bg2.png" />
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-3 ">
                <div style="border: 1px solid #c33;" class="pl-3 pr-3">
                    <div class="row justify-content-center ml-2 mr-2 mt-2 mb-3">
                        <h5><i>Все теги Corall Jewelry</i></h5>
                    </div>
                    <div class="row justify-content-center ml-2 mr-2">
                        <a href="~/Home/Products?type=Кольца" class="btn-block btn btn-outline-danger mb-4"><i></i>Кольца</a>
                        <a href="~/Home/Products?type=Цепи" class="btn-block btn btn-danger mb-4">Цепи</a>
                        <a href="~/Home/Products?type=Кресты" class="btn-block btn btn-outline-danger mb-4">Кресты</a>

                        <a href="~/Home/Products?type=Пирсинг" class="btn-block btn btn-danger mb-4">Пирсинг</a>
                        <a href="~/Home/Products?type=Сувениры" class="btn-block btn btn-outline-danger mb-4">Сувениры</a>
                        <a href="~/Home/Products?type=3D модели" class="btn-block btn btn-danger mb-4">3D модели</a>
                        <a href="~/Home/Products?type=Гравировка" class="btn-block btn btn-outline-danger mb-4">Гравировка</a>
                        <a href="~/Home/Products?type=ЧПУ фрезеровка" class="btn-block btn btn-danger mb-4">ЧПУ фрезеровка</a>
                        <a href="~/Home/Products?type=Эмалирование" class="btn-block btn btn-outline-danger mb-4">Эмалирование</a>
                        <a href="~/Home/Products?type=Гальваника" class="btn-block btn btn-danger mb-4">Гальваника</a>
                        <a href="~/Home/Products?type=Броши" class="btn-block btn btn-outline-danger mb-4">Броши</a>
                        <a href="~/Home/Products?type=Пряжки" class="btn-block btn btn-danger mb-4">Пряжки</a>

                        <a href="~/Home/Products?type=Запонки" class="btn-block btn btn-outline-danger mb-4">Запонки</a>
                        <a href="~/Home/Products?type=Брелки" class="btn-block btn btn-danger mb-4">Брелки</a>
                        <a href="~/Home/Products?type=Браслеты" class="btn-block btn btn-outline-danger mb-4">Браслеты</a>
                        <a href="~/Home/Products?type=Значки" class="btn-block btn  btn-danger mb-4">Значки</a>
                        <a href="~/Home/Products?type=Печатки" class="btn-block btn btn-outline-danger mb-4">Печатки</a>
                        <a href="~/Home/Products?type=Подвески" class="btn-block btn  btn-danger mb-4">Подвески</a>
                        <a href="~/Home/Products?type=Серьги" class="btn-block btn btn-outline-danger mb-4">Серьги</a>
                        <a href="~/Home/Products?type=Изделия из дерева" class="btn-block btn btn-danger mb-4">Изделия из дерева</a>

                    </div>
                </div>
            </div>
            <div class="col-xl-9">

                @for (int i = 0; i < Model.Products.Count; i += 3)
                {
                    <div class="row mt-2">
                        <div class="col-xl">
                            <div class="card shadow1dp" style="width: 16rem;">
                                <img class="card-img-top" src="~/products/@Model.Products[i].Images[0].Name" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.Products[i].Name</h5>
                                    <h6 class="card-text">@Model.Products[i].Price P</h6>
                                    <a href="~/Home/Product?id=@Model.Products[i].Id" class="btn btn-outline-primary mt-2">Описание</a>
                                </div>
                            </div>
                        </div>
                        @try
                        {
                            <div class="col-xl">
                                <div class="card shadow1dp" style="width: 16rem;">
                                    <img class="card-img-top" src="~/products/@Model.Products[i + 1].Images[0].Name" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@Model.Products[i + 1].Name</h5>
                                        <h6 class="card-text">@Model.Products[i + 1].Price P</h6>
                                        <a href="~/Home/Product?id=@Model.Products[i + 1].Id" class="btn btn-outline-primary mt-2">Описание</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl">
                                <div class="card shadow1dp" style="width: 16rem;">
                                    <img class="card-img-top" src="~/products/@Model.Products[i + 2].Images[0].Name" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@Model.Products[i + 2].Name</h5>
                                        <h6 class="card-text">@Model.Products[i + 2].Price P</h6>
                                        <a href="~/Home/Product?id=@Model.Products[i + 2].Id" class="btn btn-outline-primary mt-2">Описание</a>
                                    </div>
                                </div>
                            </div>
                        }
                        catch { }
                    </div>
                }

            </div>
        </div>
    </div>
</section>
